.category-page {
 padding: 15px 0 0 15px;
 max-width: 1600px;
 margin: 0 auto;  
 
}

.category-container {
  display: flex;
  gap: 20px;
}

.filter-sidebar {
  width: 20%;
  height: 100%;
  background: #fff;
  padding: 0 15px 0 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 0;   
}

/* Khu vực danh sách sản phẩm */
.product-section {
  flex-grow: 1;
  width: 75%;
}

/* Lưới sản phẩm */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}
.product-name {
  --lines: 2;               /* đổi 1/2/3 tùy ý */
  line-height: 1.35;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);
  line-clamp: var(--lines); /* Firefox mới cũng hỗ trợ */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  min-height: calc(1.35em * var(--lines)); /* giữ chiều cao thẻ ổn định */
}
/* Điều chỉnh khi màn hình nhỏ hơn */
@media (max-width: 1024px) {
  .category-container {
    flex-direction: column;
  }

  .filter-sidebar {
    width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cột trên màn hình nhỏ */
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 cột trên màn hình di động */
  }
}
