.product-card {
    position: relative; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 95%;
    background-color: #F8F9FA;
    margin-bottom: 15px;
 
  }
  
  .product-card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 10px;
  }
  .product-card a{
    width: 100%;
  }
  .product-rating {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    position: absolute;
    top: 4px;   
    right: 4px; 
  }
  
  .product-name {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-top: 10px;
    min-height: 48px; 
    align-items: center;
    justify-content: center;
  }
  
  .product-colors {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .color-option {
    width: 16px;
    height: 16px; 
    margin-left: 10px;
    border-radius: 8px; 
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .product-prices {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 30px;
    margin-bottom: 10px;
  }
  
  .current-price {
    font-size: 16px;
    font-weight: bold;
    color: red;
  }
  
  .old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
  }
  
  .discount-badge {
    background: red;
    color: white;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 5px;
  }
  .product-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.buy-now-btn {
    background-color: #E53935; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.buy-now-btn:hover {
    background-color: #C62828;
}

.add-to-cart-btn {
    background-color: #FFA000;
    color: white;
    border: none;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
}

.add-to-cart-btn:hover {
    background-color: #FF8F00;
}
